services:

  traefik:
    image: traefik:v2.10
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.endpoint=tcp://host.docker.internal:2375"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    networks:
      - web

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - web

  consul:
    image: hashicorp/consul:1.18
    command: ["agent", "-dev", "-client=0.0.0.0"]
    ports:
      - "8500:8500"
    networks:
      - web

  accounts-service:
    build: ./accounts_service
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.accounts.rule=Host(`accounts.localhost`)"
      - "traefik.http.services.accounts.loadbalancer.server.port=8001"
    networks:
      - web

  animals-service:
    build: ./animals_service
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.animals.rule=Host(`animals.localhost`)"
      - "traefik.http.services.animals.loadbalancer.server.port=8002"
    networks:
      - web

  adoption-service:
    build: ./adoption_service
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adoption.rule=Host(`adoption.localhost`)"
      - "traefik.http.services.adoption.loadbalancer.server.port=8003"
    networks:
      - web

  notifications-service:
    build: ./notifications_service
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.notifications.rule=Host(`notifications.localhost`)"
      - "traefik.http.services.notifications.loadbalancer.server.port=8004"
    networks:
      - web

networks:
  web:
    driver: bridge
