{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Adoption{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<header class="site-header">
    <div class="container header-inner">

        <div class="brand">
            <div class="logo-circle">🐾</div>
            <span>Adoption Animaux</span>
        </div>

        <nav class="main-nav">
            <ul class="nav-list">
                <li><a href="/">Accueil</a></li>
                <li><a href="{% url 'animals:list' %}">Animaux</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'animals:add' %}">Ajouter un animal</a></li>
                    <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="btn-primary">Connexion</a></li>
                    <li><a href="{% url 'register' %}" class="btn-primary">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>
</header>
<nav>
    <a href="/">Home</a>

    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Se déconnecter</a>
        {% else %}
            <a href="{% url 'login' %}">Se connecter</a>
            <a href="{% url 'register' %}">Créer un compte</a>
        {% endif %}
    </div>
</nav>


<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
